*{
	margin: 0;
	padding: 0;

}
head{
}
body{
	background-color: #889093;
	color: #FFFFFF; 
	background-image: url(images/summer1.jpg);
	background-size: cover;
	max-width: 100%;
}
h1{
	text-shadow: 1px 1px #d8cb2f;
	color: #003a58; 
	font-family: cursive;
	font-size:xx-large;
}
h3{

	text-shadow: 1px 1px #d8cb2f;
	color: #003a58; 
	font-family: cursive;
	font-size:xx-large;
	text-align: center;

}
p{
	text-align: left;
	padding-top: 50px;
	padding-left: 200px;

}
#mapa{
	margin-right: 50px;
	margin-left: 50px;
	padding-right: 50px;
	padding-left: 300px;
	padding-top: 25px;
	padding-bottom: 100px;

}
#logo{
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 50px; 
	border-radius: 50%;
	max-width: 10vh;
	max-height: 10vh;

}
.center{
		text-align: center;
		text-shadow: 4px 7px #0000ff;
		font-size: 5em;
		color: yellow; 
		font-family: cursive; 
		text-decoration-style: wavy;
		padding-top: 1em 
		color: yellow;
		}

div a, .dropbtn {
	background-color: white;
	opacity: 0.9;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
  
    text-decoration: none;
   
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
	color: black;
    display: none;
    position: absolute;
    background-color: yellow;
    min-width: 160px;
    color: white;

}

.dropdown-content a {
    color: black;
    padding: 12px 12px;

    display: block;
    text-align: left;
    opacity: 1;

}

.dropdown-content a:hover {
	background-color: lightgray; 
}

.dropdown:hover .dropdown-content {
    display: block;
   }
 .bottom {
 	text-align: center;
 }
.grow { transition: all .1s ease-in-out; }
.grow:hover { transform: scale(1.8); }
footer{
	padding: 2em;
	clear: both;
	background-color: #000000;
}

